input,td,th{text-align:right}
html *{font-size:large;font-family:Arial}
h1{text-align:center;font-size:x-large}
td,th{vertical-align:top}
#finaltable:hover td{background-color:#00f}
tr:nth-child(odd){background-color:#eee}
tr:nth-child(even){background-color:#0F6}
input{border:none}
textarea{border:outset #fff}
table{border:inset #fff}
table.center{margin-left:auto;margin-right:auto}
#result{border-color:red}
tr.error{background-color:red}
body{background-color:#b0c4de}