    <header>
    <h1>Comma Separated Value Analyzer</h1>
    </header>
    <div id="andAnimation"></div>
    <div>
      <i>Write a CSV string. Click the table button. The program outputs a table with the specified data.</i>
    </div>
    <table>
      <tr>
        <th>CSV string:</th> <!-- autofocus attribute is HTML5 -->
        <td><textarea autofocus cols = "80" rows = "5" id="original"></textarea></td>
      </tr>

      <tr>
  		  <td colspan="2" class="filestyle">Cargar archivo: <input type="file" id="fileInput"/></td>
  	  </tr>

      <tr>
        <td class="filestyle">
        Click para cargar ejemplos:
        <button id ="input1" type="button" onclick="dump('input.txt');">Input1</button>
        <button id ="input2" type="button" onclick="dump('input2.txt');">Input2</button>
        <button id ="input3" type="button" onclick="dump('input3.txt');">Input3</button>
        <button id ="input4" type="button" onclick="dump('input4.txt');">Input4</button>
        </td>
      </tr>
    </table>

    <div style="text-align:center;">

    <div id="button" class="btn">Validate</div><br>
    </div>

    <span class="output" id="finaltable"></span>

    <div style="text-align:center;">
    <input type="file" id="files" name="files[]" multiple />
    <output id="list"></output>
    <!--<img src="imagenes/cvs.png" alt="CVS" style="width:450px;height:350px">-->
    </div>
