<!doctype html>
<html>
  <head>
    <title><%- title %></title>
         <link href="css/output.css" rel="stylesheet" type="text/css" >
     <link href="css/interface.css" rel="stylesheet" type="text/css" >
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <script type="text/javascript" src="csv.js"></script>
     <script type="text/javascript" src="main.js"></script>
     <script type="text/javascript" src="events.js"></script>
  </head>
  <body>
    <%- include body %>
  </body>
</html>
