$font-stack:    Helvetica, sans-serif;
$color-titulo: black;
$color-fondo: black;
$color-letra: white;
$color-tabla: black;
$borde-tabla: 1px;
$padding-tabla: 0px;
$spacing-tabla: 0px;
$padding-filestyle: 5px;

h1 {
  color: $color-titulo;
  text-align: center;
}

div {
  margin-left:auto; margin-right:auto;
  text-align: center;
}

body {
  background-color: $color-fondo;
  color: $color-letra;
  font-family: $font-stack;
}

table , th, td {
  @extend div;
   border: $borde-tabla solid $color-tabla;
   padding: $padding-tabla;
   border-spacing: $spacing-tabla;
}

.filestyle {
  background-color:#204070;
  text-align: left;
  padding: $padding-filestyle;
}

.saveentry {
  background-color:#407040;
  text-align: center;
  padding: $padding-filestyle;
  &:hover {
    background-color:#70BB70;
  }
}

#buttonSave {
  width: 200px;
}

#finaltable:hover td {
  background-color: green;
}

tr:nth-child(odd){
  background-color:black;
}

tr:nth-child(even) {
  background-color:blue;
}

tr.error       {
  background-color: red;
}
